* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #ffe4c4, #ff7f50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card-container {
    display: flex;
    gap: 30px;
    perspective: 1000px; /* gives 3D effect when rotating cards */
}


.card {
    width: 450px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    background:ffe4c4;
    transition: transform 0.5s, box-shadow 0.5s;
}


.card:hover {
    transform: rotateY(10deg) scale(1.05);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}


.front {
    background: linear-gradient(135deg, #0a2a66, #3b5ba3);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 5px;
}


.back h1 {
    margin: 5px 0;
    font-size: 18px;
}

.role {
    margin: 5px 0 15px;
    color: #000;
    font-size: 14px;
}

.contact-info p {
    margin: 6px 0;
    font-size: 14px;
}


.image-card-container {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s; /* image hover */
}

.image-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-item:hover img {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.image-label {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}